<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/public/css/home.css">
    

    <title>Intranet</title>
</head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">Intranet</a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <!-- <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">Jhon
                  <strong>Smith</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Online</span>
                </span>
              </div>
            </div> -->
            <!-- sidebar-header  -->
            <!-- <div class="sidebar-search">
              <div>
                <div class="input-group">
                  <input type="text" class="form-control search-menu" placeholder="Search...">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>Menu Principal</span>
                </li>
                <!-- Inicia Menu TI -->
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>T.I</span>
                    <span class="badge badge-pill badge-warning">Novo</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>                 
                      <!-- Inicia Menu Inventario -->    
                      <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#inventario">
                            <i class="glyphicon glyphicon-off"></i> Inventário <span class="caret"></span>
                        </a>
                        <div id="inventario" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                  <!-- Inicia Menu Inventario/Cadastros -->    
                                  <li class="panel panel-default" id="dropdown2">
                                    <a data-toggle="collapse" href="#inventario-cadastro">
                                        <i class="glyphicon glyphicon-off"></i> Cadastros <span class="caret"></span>
                                    </a>
                                    <div id="inventario-cadastro" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#" onclick="mudaframe('/pages/empresas')">Empresas</a></li>
                                                <!-- <li><a href="#" onclick="mudaframe('/pages/register')">Usuários</a></li> -->
                                                <li><a href="#" onclick="mudaframe('/pages/empresas')">Equipamentos</a></li>
                                                <li><a href="#" onclick="mudaframe('/pages/marcas')">Marcas</a></li>
                                                <li><a href="#" onclick="mudaframe('/pages/departamentos')">Departamentos</a></li>
                                                <li><a href="#" onclick="mudaframe('/pages/cargos')">Cargos</a></li>
                                                <li><a href="#" onclick="mudaframe('/pages/funcionarios')">Funcionários</a></li>
                                                <li><a href="#" onclick="mudaframe('/pages/tipo')">Tipos</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- Finaliza Menu Inventario/Cadastros -->    
                                <!-- Inicia Menu Inventario/Movimentações -->    
                                <li class="panel panel-default" id="dropdown2">
                                  <a data-toggle="collapse" href="#inventario-movimentacoes">
                                      <i class="glyphicon glyphicon-off"></i> Movimentações <span class="caret"></span>
                                  </a>
                                  <div id="inventario-movimentacoes" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <ul class="nav navbar-nav">
                                              <li><a href="#">Link</a></li>
                                              <li><a href="#">Link</a></li>
                                              <li><a href="#">Link</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </li>
                              <!-- Finaliza Menu Inventario/Movimentações -->                                    
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- Finaliza Menu Inventario -->    
                    </ul>
                  </div>
                </li>
                <!-- Finaliza Menu TI -->
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Financeiro</span>
                    <!-- <span class="badge badge-pill badge-danger">3</span> -->
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Products
      
                        </a>
                      </li>
                      <li>
                        <a href="#">Orders</a>
                      </li>
                      <li>
                        <a href="#">Credit cart</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="far fa-gem"></i>
                    <span>Comercial</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">General</a>
                      </li>
                      <li>
                        <a href="#">Panels</a>
                      </li>
                      <li>
                        <a href="#">Tables</a>
                      </li>
                      <li>
                        <a href="#">Icons</a>
                      </li>
                      <li>
                        <a href="#">Forms</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-chart-line"></i>
                    <span>Pessoas</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Pie chart</a>
                      </li>
                      <li>
                        <a href="#">Line chart</a>
                      </li>
                      <li>
                        <a href="#">Bar chart</a>
                      </li>
                      <li>
                        <a href="#">Histogram</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-globe"></i>
                    <span>Operacional</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Google maps</a>
                      </li>
                      <li>
                        <a href="#">Open street map</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header-menu">
                  <span>App Externos</span>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Nexti</span>
                    <span class="badge badge-pill badge-warning">Novo</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Protheus</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Office 365</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="sidebar-footer">            
            <!-- <a href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
              <i class="fa fa-cog"></i>
              <span class="badge-sonar"></span>
            </a>
            <a href="#">
              <i class="fa fa-power-off"></i>
            </a> -->
          </div>
        </nav>
        <!-- sidebar-wrapper  -->
          <iframe id="frame" src="https://app.nexti.com/" frameborder="0" style="width: 100%; height: 100%; "></iframe> 
        <!-- page-content" -->
      </div>
      <!-- page-wrapper -->
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>   
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
</body>
</html>

<script>
  function mudaframe(page){
            frame = document.getElementById("frame");
            frame.src=page;
        }
      $(".sidebar-dropdown > a").click(function() {
        $(".sidebar-submenu").slideUp(200);
        if (
          $(this)
            .parent()
            .hasClass("active")
        ) {
          $(".sidebar-dropdown").removeClass("active");
          $(this)
            .parent()
            .removeClass("active");
        } else {
          $(".sidebar-dropdown").removeClass("active");
          $(this)
            .next(".sidebar-submenu")
            .slideDown(200);
          $(this)
            .parent()
            .addClass("active");
        }
      });
      
      $("#close-sidebar").click(function() {
        $(".page-wrapper").removeClass("toggled");
      });
      $("#show-sidebar").click(function() {
        $(".page-wrapper").addClass("toggled");
      });
   
</script>